body {
    font-family: cursive;

}    
    h1 {
    color: rgb(110, 173, 110);

}

label {
    display: block;
    padding: 5px;
    border: 1px solid red;
}

button {
    color: white;
    background: forestgreen;
    padding: 5px;
}